<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form>
		First Name: <input type="text" name="firstname" required><br>
		Last Name: <input type="text" name="lastname" required><br>
		Birthday: <input type="date" name="birthday" required><br>
		Gender: <br>
		<input type="radio" name="gender" value="male" required>Male<br>
		<input type="radio" name="gender" value="female" required>Female<br>
		<input type="radio" name="gender" value="other" required>Other<br>
		Pets: <br>
		<input type="checkbox" name="cat">Cat<br>
		<input type="checkbox" name="dog">Dog<br>
		<input type="checkbox" name="other">Other<br>
		Cars: <br>
		<select name="cars">
			<option value="mercedes">Mercedes</option>
			<option value="bmw">BMW</option>
			<option value="lexus">Lexus</option>
			<option value="toyota">Toyota</option>
			<option value="other">Other</option>
		</select><br>
		Email: <input type="email" name="email" required><br>
		Password: <input type="password" name="password" min="8"><br>
		<input type="submit" value="Register">
		<input type="reset" value="Reset The Form">
	</form>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Website created By Alexandros Talji
      </div>
    </div>
  </div>
</footer>
</body>
</html>